<?xml version="1.0" encoding="utf-8" ?>
<nlog xmlns="http://www.nlog-project.org/schemas/NLog.xsd"
    xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
    xsi:schemaLocation="http://www.nlog-project.org/schemas/NLog.xsd NLog.xsd"
    autoReload="true"
    throwExceptions="false"
    internalLogLevel="Off">

  <!--
    Rules are created programatically using the supplied Verbosity option.
    All targets will be used with the same logging level - so feel free to add
    targets if required, or alter the layouts.
  -->
  <targets>
    <target
      xsi:type="ColoredConsole"
      layout="[${time}] ${message}${onexception:${newline}${exception:format=tostring}}"
      name="defaultConsole" />
  </targets>
</nlog>